@charset "UTF-8";
/* Box.css */

.Box {
    background-color:#FAFAFA;
    text-align:initial;

    }

#mainHeaderBox {
    width:80%;
    height:600px;
    background-color:#FAFAFA;
    }

.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    }

.header {
    width:75%;
    height:80px;
    margin-top:20px;

    }

.mainBox {
    width:130%;
    background-color:#FAFAFA;


    }

#Box_1 {
    margin-left:10%;
    width: 19.5%;
    height: 300px;
    padding: 50px;
    border: 1px solid #bcbcbc;
    background-color:#ffffff;
    display:inline-block;
    margin-bottom:50px;
    overflow:hidden;
    }

#Box_2 {
    width: 19.5%;
    height: 300px;
    padding: 50px;
    border: 1px solid #bcbcbc;
    background-color:#ffffff;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:50px;
    overflow:hidden;
    }

#Box_3 {
    width: 19.5%;
    height: 300px;
    padding: 50px;
    border: 1px solid #bcbcbc;
    background-color:#ffffff;
    display:inline-block;
    margin-bottom:50px;
    overflow:hidden;

    }

.mainBox_href_button {
    background-color:#1dc078;
    color:#fff;
    padding:10px;
    border-radius:20px;
    height:35px;
    font-weight:bolder;
    font-size:medium;
    border:0px;
    margin-top:10%;
    cursor:pointer;
    }

.subtext_1{
    margin-bottom:10px;
    }

.text_1 {
    color:#6E6E6E;
    }

.text_2 {
    margin-bottom:5px;
    font-size:x-large;
    font-weight:bolder;
    }