@charset "UTF-8";
#community_post_delete{
    float:right;
    text-decoration: none;
}
#community_post_container{
    width:80%;
    margin: 0 auto;
    padding-top: 1rem;
}
#community_post_hearder{
    border-bottom:1px solid #cfcfcf;
    margin-bottom: .75rem;

}
#community_post_title{
    width: calc(83% - 24px);
    padding: .75rem;
    display: inline-block;
    text-align: initial;
}
#community_post_title h2{
    text-align: inherit;
    font-size: 1.8rem;
    margin: 0;
    color: #363636;
    cursor: pointer;
    justify-content: center;

    white-space: nowrap;
}

#post_comment_state{
    padding: .75rem;
    width: calc(17% - 30px);
    display: inline-block;
    margin: 10px 0px;

}
#post_comment_state span{
background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(.675em - 1px) .95em;
    text-align: center;
    white-space: nowrap;
}

#community_post_profile{
left: 20px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
    }
#community_post_profile img{
    width: 32px;
    height: 32px;
    border-radius: 40000px;
}
#community_post_content{
    width: 70%;
    position: relative;
    top: -21px;
    text-align: initial;
    padding: 1rem;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    display: inline-block;
    left: 30px;
    }
#community_post_textarea{
    padding-top: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    overflow: visible;
    outline: none;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    display: block;
    font-size: 16px;
    line-height: 1.5;
}
#community_post_content_prev{
    margin-left: 15px;
    float: right;
    padding-left: 10px;
    width: calc(30% - 134px);
    display: inline-block;
    text-align: initial;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding-top: 10px;
    position: relative;
    top: -21px;
}
#recommended_area{
    padding-top: 20px;
    text-align: end;
    display: inline-block;
    float: right;
    cursor: pointer;
}
#community_post_content_prev button{
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 5px;
}
#community_post_content_prev span{
    font-size: .85rem;
    font-weight: 600;
    color: #929292;
}
#community_post_content_prev p{
    font-size: .85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#community_post_answer_box{
    text-align: left;
}
#community_post_answer_box textarea{
    font-size: 16px;
    resize: none;
    width: calc(73% + 39px);
    position: relative;
    text-align: initial;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    min-height: 100px;
    line-height: 1.5;
}
#answer_list li{
    width: 70%;
    position: relative;
    top: -21px;
    text-align: initial;
    padding: 1rem;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    display: inline-block;
    left: 64px;
}
.answer_list_class + .answer_list_class{
    border-bottom:1px solid #cfcfcf;
}
.answer_list_profile{
    left: 20px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
}
.answer_list_profile img{
    width: 32px;
    height: 32px;
    border-radius: 40000px;
}

#community_post_answer_box input{
    display: block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 10px 0;
    background-color: #ff7867;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
}
#post_author_title{
    font-weight:bold;
}
#post_author{
    font-weight:bold;
}
#post_time{
    color:#4f4f4f;
    font-size:13px;
}
.recommended_num{
    color:#ff7867;
}
.answer_author_header{
font-size: 12px;
padding-bottom: 10px;
}
