@charset "UTF-8";
/* index.css */

/*********************Header**********************/

#headerBox{
    width:calc(100% - 2px);
    height:70px;
    line-height:70px;
    padding:0;
    background-color:#fff;
    z-index:30;/*스크롤시 위에 오도록*/
    border:solid 1px transparent;
    box-shadow:0 3px 5px 0px #dbdbdb;
}


/********************* Footer **********************/
footer{
    width:100%;
    height:400px;
    background-color: #303740;
    text-align:left;
    color:white;
}
footer a{text-decoration:none;}

#footerBox{
    width:80%;
    margin: auto;
}

.footer_top_menu_list{ /* footer_top_menu_list 와 footer_info */
    height:230px;
}
.footer_info{height:170px;}

/****** Footer Top ******/

.footer_top_menu_list{
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #444;
}
.menu_list{
    width:19%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.title{
    margin:10%;
    margin-top:20%;
    font-size:.9rem;
    font-weight:bold;
}
.list{
    margin-left:10%;
    font-size:.8rem;
    display:flex;
    flex-direction:column;
}

.list a{margin-bottom:3%; color:#dedede;}
.list a:hover{text-decoration:underline;}

/****** Footer Bottom ******/

.footer_info{
    display: flex;
    justify-content: space-between;
    font-size:.7rem;
}
.footer_info a{color:#dedede;}

.footer_left{width:70%;color:#dedede}

.footer_left_top{margin-top:3%; margin-left:2%; font-weight:bold;}
.footer_left_top img {height:.9rem;}

.footer_divider{border-right:solid 1px #dedede;margin:0 1% 0 1%;}

.footer_left_bottom{font-size:.7rem; margin-left:2%;}
.footer_left_bottom a:hover{color: #444}

.left_bottom_02 {margin-top:1%;}
.left_bottom_03 {margin-top:1%;}


.footer_right{width:30%;}
.footer_iconBox{position:relative;top:40%;left:40%;}


/*********************inquire - 문의하기***********************/
#inquire{
		bottom: 0;
    right: 0;
    margin: 20px;
		position: fixed;
}
		#inquire_img{
			float: right;
			position: relative;
    width: 74px;
    height: 74px;
		    background-image:url("https://cf.channel.io/file/4627/5e6a5deb2efadac71951/mobileimage-1ff319d23f4ad6c821ea61ef70959a8c");
		    background-size:cover;
		    cursor: pointer
		}
#inquire_text{
		position: absolute;
    right: 27px;
    bottom: 10px;
    padding-left: 10px;
    line-height: 54px;
    float: left;
    border-radius: 50px;
    background-color: white;
    height: 54px;
    width: 109px;
    font-size: 1em;
    font-weight: bold;
}

