@charset "UTF-8";
/* lecture.css
 * ready_lecture
 * roadmap
 * new_lecture
 * 영역의 기본 틀
 */

 .articleContentBox{
     margin: 0 auto;
     width: 80%;
     text-align:left;
     height:100%;
     position:relative;
}
#articleContent_hidden{
    overflow:hidden;
}

.articleContent .starPoint img{
    width:15px;
    height:15px;
}

/************************* Ready Content Title **************************/

.articleTitle h1{
    position:relative;
    left:10px;
    cursor:pointer;
    font-size:1.5rem;
}

.articleTitle h1 span{color:red;font-size:1rem;}
.articleTitle h1 img{width:15px;height:15px;margin-left:5px;}

.articleTitle p{
    position:relative;
    left:10px;
    top:-5px;
    font-size:1rem;
    color:#616161;
}

.btnShape{
    width:35px;
    height:35px;
    background-color:white;
    border:solid 1px #dee2e6;
    border-radius:50px;
    box-shadow:0 2px 8px 0 rgb(0 0 0 / 10%);
    opacity:0.8;
    padding: 5px;
    padding-top: 6px;
}

.btnShape img {
    position:relative;
    width:20px;
    height:20px;
    text-align:center;
    left:20%;
    top:20%;
    opacity:1;
}
/************************* Content **************************/
.articleContent{
    position:relative;
    width:250%;
    overflow:hidden;
}

.articleContent .contents{
    display:inline-block;
    width:7.82%;
    vertical-align:top;
}

/****** BASIC ********/

.basicBox{width:100%;height:100%;}

.basicBox img{
    width:100%;
    margin-bottom:5px;
}

.basicBox .title{
    display:flex;
    font-weight:bold;
    margin:0;
    font-size:1rem;
    margin-bottom:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.basicBox .name{
    margin:0;
    display:flex;
    font-size:.825rem;
    margin-bottom:5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.price {display:flex;margin-bottom:5px;}
.price p{color:#007aff;font-weight:bold;margin:0;}

/****** HOVER *******/

.hoverBox{
    height:100%;
    position:absolute;
    width:7.82%;
    top:0px;
    background-color:#000000c7;
    color:white;
    display:none;
    cursor:pointer;
    z-index:2;
}

.hoverContent{
    height:11.5em;
    line-height: 1.6em;
    font-size: .85rem;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.hoverBox div{margin-left:5px;margin-right:5px;}

.hoverContent p:nth-child(1){
    font-weight:bold;
    fot-size:1rem;
}
.hoverContent p:nth-child(2){
    font-size:.8rem;
}

.hoverDir{
    position:relative;
    height:25%;
}
.hoverDir p{
    margin:1px;
    font-size:.8rem;
    font-weight:bold;
    color:#c5ebf8;
    font-weight:normal;
}

.hoverDir img{
    width:20px;
    height:20px;
}


.hoverMenu{
    position:relative;
    z-index:9;
    top:-20px;
}

.hoverMenu div{
    display:flex;
    height:25px;
}
.hoverMenu img{
    display:block;
    position:relative;
    left:90%;
    weight:20px;
    height:20px;
    margin:5px;
}
.arrow_box {
	position:absolute;
	right:15%;
	background: #ebcc53;
	font-size:.7rem;
	padding:10px;
	margin:0;
	text-align:center;
	color:black;
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #ebcc53;
	border-width: 10px;
	margin-top: -10px;
}