@charset "UTF-8";
#search {
    height: 30px;
    padding: 14px 20px;
    width: 38%;
    border:1px solid rgba(29,192,120,.24);
    border-radius:50px;
    background-color:#e4f7ef;
    box-shadow:0 0px 5px 0 rgb(0 0 0 / 10%)
}
#search input{
    line-height: 30px;
    font-size: 16px;
    width: 80%;
    border:0px;
    outline:none;
    background:transparent;
    border-radius:50px;
    float:left;}]
    #search button{
    width:50px;
    height:100%;
    border:0px;
    border-radius:50px;
    color:#ffffff;
}


#search button{
    border: none;
    background-color: transparent;
    position: relative;
    height: 30px;
    float: right;
}

#search img{
    width: 20px;
}

#search_main{
    padding: 40px 0;
}

/* placehoder 색상 */
.focus::-webkit-input-placeholder {
    color: #dedede
}

.blur::-webkit-input-placeholder {
    color: #9fcab7
}