{% extends "combot/layout.html" %}

{% block content %}
{% load static %}
			<section>
                <div  id="community_post_container">
                    <div id="community_post_hearder">
                        <div id="community_post_title">
                            <h2>{{question.subject}}</h2>
                        </div>
                        <div id="post_comment_state">
                            <span>미해결질문</span>
                        </div>
                    </div>
                    <div id="community_post_main">
                        <div id="community_post_profile">
                            <img src='{% static "image/user.png" %}'>
                        </div>
                        <div id="community_post_content">
                            <div id="community_post_content_meta">
                                <span id="post_author_title">작성자 : </span><span id="post_author">{{question.user}}</span>&nbsp;&nbsp;<span id="post_time">{{question.create_date}}</span>
                            </div>
                            <textarea id="community_post_textarea" readonly>{{question.content}}</textarea>
                            <div id="recommended_area">
								<span>이 내용이 도움이 되었나요? </span><span class="recommended_num">❤</span><span class="recommended_num" id="recommended_num">0</span>
                                </div>
                        </div>
                        <div id="community_post_content_prev">
                            <span>이전 질문</span>
                            <p>이전 질문의 제목이들어가는 자리입니다.</p>
                            <button>이전 질문으로 가기</button>
                        </div>
                    </div>

                    <div id="community_post_answer_box">
						<h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
						<div>
							<ul id="answer_list">
								{% for answer in question.answer_set.all %}
								<div class="answer_list_profile"><img src='{% static "image/user.png" %}'></div>
								<li class="answer_list_class"><div class="answer_author_header"><span class="answer_author_title">{{answer.user}}</span>&nbsp;&nbsp;<span class="answer_post_time">{{answer.create_date}}</span></div>{{answer.content}}</li>
								{% endfor %}
							</ul>
						</div>
                        {% if user.is_authenticated %}
							<form action="{% url 'combot:answer_create' question.id %}" method="post">
                                {% csrf_token %}
                                <textarea name="content" id="community_post_answer" placeholder="답변을 입력하세요"></textarea>
                                <input type="submit" value="제출">
						    </form>
						{% else %}
                            <textarea name="content" id="community_post_answer_none_ID" placeholder="로그인 후 이용할수 있는 기능입니다." readonly="readonly" disabled></textarea>
                            <input type="submit" value="제출">
						{% endif %}
                    </div>

                </div>
			</section>
{% endblock %}