@charset "UTF-8";
/* login.css */
#modal{
		    width: 100vw;
    		height: 100vh;
    		background-color: #00000080;
    		display:none;
    		z-index: 999;
    		position: fixed;
			}
#login_top img{
    width: 40%;
    margin: 10px 0;
}
		#login_modal{
    		padding: 20px;
    		width: 22%;
    		position: absolute;
		    top: 50%;
		    left: 50%;
    		transform: translate(-50%, -50%);
    		background-color: white;
    		border-radius: 5px;
    		text-align: center;
		}
		#close-button{
		    font-size: 30px;
            font-weight: bold;
			position: absolute;
    		right: 15px;
    		top: 5px;
    		cursor: pointer;
		}
		#login_user input{
			height: 50px;
			border: 0;
			width: 80%;
			padding: 0;
			margin: 0 0 10px 0;
			border-radius:3px;
		}
		#login_email{
			background-color: #f7f7f7;
		}
		#login_pw{
			background-color: #f7f7f7;
		}
		#login_button{
			background-color: #1dc078;
			text-align: center;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
			font-size: 16px
		}
		#login_modal a{
			color: grey;

		}
		#sns_button a{
		    text-decoration:none;
		}
		#login_modal h4{
			margin: 10px 10px 0 10px;
			color: grey;
		}
		#social a{
  			border: 1px #c1c1c1 solid;
    		border-radius: 3px;
    		margin: 6px;
    		font-size: 13px;
   			font-weight: bold
		}
		#social {
			width: 80%;
		    display: grid;
		    grid-template-columns: 1fr 1fr;
		    grid-template-rows: 50px 50px;
		    margin: 0 auto;
		}
		#social span{
  			vertical-align: middle;
    		position: relative;
		}
		.pw_menu a{
			font-size: 12px;
   			font-weight: bold;
   			text-decoration: underline;
   			display: block;
   			margin: 10px;
		}