@charset "UTF-8";
/* new_lecture_detail.css */
#new_lecture_detail_area{
    margin: 0 auto;
    /*width: 80%;*/
    text-align: initial;
    position: absolute;
    height:400px;
    z-index:40;
}
#new_lecture_detail h3{
    margin: 0px;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.16.rem;
    white-space: normal;
    line-height: 1.4;
    height: 2.8em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
}
#new_lecture_detail_title h2{
    display: inline-block;
    margin-left: 5px;
    font-size: 2rem;
    color: white;

}
.new_lecture_detail_list {
    display:none;
    height: 400px;
    width: 7.85%;
    margin: 3px;
    float: left;
    background-color: #000000ab;
    color: #99dfff;
    }

#new_lecture_detail_slide{
    width:100%;
    overflow: hidden;
}
.new_lecture_detail_list h4{
    margin: 10px 0;
    color: white;
    font-size: .9rem;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    white-space: normal;
    line-height: 1.2;
    height: 4.8em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: white;

}
.new_lecture_detail_state h5{
    display:inline-block;
    border: none;
    padding: 5px 10px;
    margin:0;
    font-size: .75rem;
    border-radius: 4px;
    color:white;
    padding: 0 20px;
}
.new_lecture_detail_state img{
    float:left;
}
.p_i{
    float: left;
    width:100%;

}
.p_i h5{
    color:#c5ebf8;
    padding-left: 5px;
}
.p_i img{

    padding: 5px;
    width:20px;
}
.pl_user{
    float: right;
    width:100%;
}
.pl_user img{
    width:20px;
    float: right;
    padding: 5px
}
.new_lecture_detail_state{
        height: 70px
}
.new_lecture_detail_plus h5{
    float: right;
    width:100%;
    margin:0;
}

#none-area{
}
#slide_all_lec{
    height:400px;
}

#but_area{
    position:absolute;
    width: 100%;
    top: 50%;
        width: 104%;
    left: -2%;
}
#but_area img{
    background-color: #ffffff85;
    border-radius: 50px;
    padding: 10px;
    opacity: .65;
    width:30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
}




#new_lecture_prevBtn{
    float:left;
    left: -10px;
}
#new_lecture_nextBtn{
   float:right;
   right: -10px;
}

#new_lecture_but_area{
    z-index:20;
    position:absolute;
    top: 50%;
    width: 104%;
    left: -2%;
}
/*
#prev_new_lecture_Btn{
float:left;
}
#next_new_lecture_Btn{
float:right;

}*/
#prev_new_lecture_Btn {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: -2%;
    float: left;

    width: 35px;
    height: 35px;
    background-color: #fff;
    border: solid 1px #dee2e6;
    border-radius: 50px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    padding: 5px;
    padding-top: 6px;
}

#next_new_lecture_Btn {
    z-index: 20;
    position: absolute;
    top: 50%;
    right: -2%;
    float: right;
    width: 35px;
    height: 35px;
    background-color: #ffffffc9;
    border: solid 1px #dee2e6;
    border-radius: 50px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    padding: 5px;
    padding-top: 6px;
}
#prev_nlec_Btn{
opacity:0.1;
}
#next_nlec_Btn{
opacity:1;
}

.new_lecture_ContentBox {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    }

#new_lecture_list_area{
    overflow:hidden;
}
#new_lecture_detail{
    width:240%;
}
.new_lecture_Content {
    position: relative;
    width: 240%;
}
.new_lecture_Content .contents {
    display: inline-block;
    padding: 3px;
    height: 350px;
    float:left;
    vertical-align: top;
}
.new_lecture_Content .basicBox img {
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
}

.new_lecture_Content .basicBox{
}

.new_lecture_Content .hoverBox{
}
.contentTag_new_lec{
    display:inline-block;
}

.new_lecture_Content .basicBox .title {
    font-weight: bold;
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 5px;
    line-height: 1.32;
    height: 2.64em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#new_lecture_content del{
    color:#7d7d7d;
}


#new_lecture_content .price p{
color:#007aff;
}