@charset "UTF-8";
/* promote.css */

.Promote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5px;
    text-align:initial;
    }

.promote_1 {
    margin-bottom:15px;
    font-size:xx-large;
    font-weight:bolder;

    }

.mainPromote {
    width:25%;
    height:250px;
    padding:15px;
    margin-right:2%;
    margin-left:10%;
    }

.name {
    color:#A9A9A9;
    }

.date {
    color:#A9A9A9;
    }

#people_1 {
    color:#1dc078;
    }

.scroll_bottom {
    margin-top:30px;
    }

.text_3 {
    color:#000000;
    text-decoration:none;
    }

.buttons_1 {
    background:#fff;
    border:1px solid #1dc078;
    margin-top:5%;
    padding:5px;
    cursor:pointer;
    }

.review_scroll {
    width:80%;
    height:80%;
    border: 1px solid #bcbcbc;
    padding:10px;
    margin-bottom:20px;
    border-radius:8px;
    background-color:#FAFAFA;
    }