@charset "UTF-8";
/* ready_lecture.css */

.articleContentBox{
     margin: 0 auto;
     width: 80%;
     text-align:left;
     overflow:hidden;
}

.articleContent .starPoint img{
    width:15px;
    height:15px;
}

/************************* Ready Content Title **************************/

.articleTitle h1{
    position:relative;
    left:10px;
    cursor:pointer;
    font-size:1.5rem;
}

.articleTitle h1 span{color:red;font-size:1rem;}
.articleTitle h1 img{width:15px;height:15px;margin-left:5px;}

.articleTitle p{
    position:relative;
    left:10px;
    top:-5px;
    font-size:1rem;
    color:#616161;
}

/************************* Prev/Next Button **************************/

.prevNextButtonBox02 {
    position:absolute;
    width:80%;
    margin-top:120px;
    z-index:9;
}
.prevNextButtonBox02 .btnShape{
    width:35px;
    height:35px;
    background-color:white;
    border:solid 1px #dee2e6;
    border-radius:50px;
    box-shadow:0 2px 8px 0 rgb(0 0 0 / 10%);
    opacity:0.8;
    cursor:pointer;
    padding: 5px;
    padding-top: 6px;
}

.prevNextButtonBox02 div:nth-child(1){float:left;}
.prevNextButtonBox02 div:nth-child(2){float:right;}

.btnShape img {
    position:relative;
    width:20px;
    height:20px;
    text-align:center;
    left:20%;
    top:20%;
    opacity:1;
}

/************************* Ready Content **************************/

/* ready content */

.articleContent{
    position:relative;
    width:3000px;
}

.articleContent .contents{
    display:inline-block;
    width:7.44%;
    height:350px;
    vertical-align:top;

}


/****** BASIC ********/

.basicBox{
    height:350px;
    position:relative;
}

.basicBox img{
    width:100%;
    height:150px;
    margin-bottom:5px;
}

.basicBox .title{
    display:flex;
    font-weight:bold;
    margin:0;
    font-size:1rem;
    margin-bottom:5px;
    height:50px;
}

.basicBox .name{
    margin:0;
    display:flex;
    font-size:.825rem;
    margin-bottom:5px;
}

.starPoint {
    position:relative;
    display:flex;
    align-items:center;
    width:100%;
    margin-bottom:5px;
}

.starPoint p{
    width:50px;
    margin:0
}

.price {display:flex;margin-bottom:5px;}
.price p{color:blue;font-weight:bold;margin:0;}

.contentTag{display:flex;margin-top:10px;}
.contentTag div{
    height:15px;
    margin-right:10px;
    margin-top:10px;
    border-radius:5px;
    padding:5px;
}
.contentTag .discount_tag{background-color:hsl(1,100%,89%)}
.contentTag .new_tag{background-color:hsl(182,75%,94%);}
.contentTag .count_tag{background-color:hsl(321,63%,90%);}

.contentTag div p{
    font-size:.5rem;
    margin:0;
}


/****** HOVER *******/

.hoverBox{
    height:350px;
    position:relative;
    top:-350px;
    background-color:#000000c7;
    color:white;
    display:none;
    padding:0 10px 0;
    cursor:pointer;
}

.hoverContent{
    height:13em;
    line-height: 1.6em;
    font-size: .85rem;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.hoverContent p:nth-child(1){
    font-weight:bold;
    fot-size:1rem;
}
.hoverContent p:nth-child(2){
    font-size:.8rem;
}

.hoverDir p{
    margin:1px;
    font-size:.8rem;
    font-weight:bold;
    color:#c5ebf8;
    font-weight:normal;
}

.hoverDir img{
    width:20px;
    height:20px;
}

.hoverMenu{
    position:absolute
    right:30px;
}

.hoverMenu div{
    display:flex;
    height:25px;
}
.hoverMenu img{
    display:block;
    position:relative;
    left:90%;
    weight:20px;
    height:20px;
    margin:5px;
}

.arrow_box {
	position:absolute;
	right:20%;
	background: #ebcc53;
	font-size:.7rem;
	padding:10px;
	margin:0;
	text-align:center;
	color:black;
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #ebcc53;
	border-width: 10px;
	margin-top: -10px;
}
