@charset "UTF-8";
/* roadmap.css
 * 기본 토대는 ready_lecture.css 에 존재
 */

#roadmap > .prevNextButtonBox02 {margin-top:100px;}

#roadContent{position:relative; margin-left:3px;}

#roadContent div {display:inline-block;}

#roadmap .contents{
    display:inline-block;
    width:9.8%;
    height:350px;
    vertical-align:top;
}
#roadContent .basicBox {
    width:100%;
    vertical-align:top;
    margin-right:5px;
    cursor:pointer;
}

#roadContent .basicBox div{margin:-10px 20px 0;}

#roadContent .basicBox h5{font-size:1rem;}
