@charset "UTF-8";

/*** subMenu.css ***/

#subMenuBox{
    visibility:hidden;
    position: absolute;
    margin-left: 300px;
}
#subMenuBox a{
    text-decoration:none;
    color:#616161;

}
#subMenuBox li{
    padding-bottom: 10px;
}
#subMenuItem1{
    text-align: initial;
    z-index:10;
    display: inline-block;
    width: 150px;
    border: 1px solid transparent;
    background-color: white;
    padding: 20px 10px 80px 10px;
    box-shadow:1px 1px 2px 1px #d6d6d6;
}

#subMenuItem2{
    text-align: initial;
    z-index:10;
    display: inline-block;
    position: absolute;
    width: 150px;
    border: 1px solid transparent;
    background: white;
    padding: 10px 10px 70px 10px;
    box-shadow:1px 1px 5px 1px #d6d6d6;
}